@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply bg-primary text-white font-semibold py-3 px-6 rounded-md hover:!scale-110 duration-300;
  }
}

@layer utilities {
  .drop-shadow {
    filter: drop-shadow(-6px 8px 15px rgba(0, 0, 0, 0.5));
  }
}

/* .slick-prev {
  left: -35px;
  color: black !important;
}

.slick-next {
  right: -30px;
  color: black !important;
}

.slick-next::before {
  font-size: 22px;
}

.slick-prev::before {
  font-size: 22px;
} */
